:root {
    --base-font-color: rgb(131, 148, 150);
    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);
    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
}

body {
    background-color: var(--c-background-color);
    color: var(--base-font-color);
    max-width: 800px;
    margin: 0 auto;
    font-family: Tahoma;
}

header,
footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
}

header h1 {
    text-align: center;
    font-size: 150%;
    color: var(--c-yellow);
    padding-top: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    text-align: center;
}

article h2,
aside h2 {
    color: var(--c-yellow);
    padding-top: 50px;
}

article a {
    color: var(--c-magenta);
}

article a:hover {
    color: var(--c-orange);
}

aside {
    color: var(--c-green);
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-orange);
}

article h3 {
    border: 3px solid var(--c-cyan);
    padding-top: 50px;
}

article h3~* {
    border: 3px solid var(--c-cyan);
    border-top: none;
}

h1,
h2,
h3 {
    padding-top: 50px;
}    